{% extends 'base.html.twig' %}

{% block title %}Main Menu{% endblock %}

{% block body %}

<div class="starter-template">
	<h1 class="lead"> Disk Catalog Main Menu </h1>
</div>

<div class="list-group">
  <a href="{{path('home')}}diskfile/manage" class="list-group-item active"
  	data-toggle="tooltip" title="List one or many disks. Allows update or deletion."
  	>
  	Manage disk entries
  </a>
  
  <a href="{{path('home')}}diskfile/diskinfo" class="list-group-item">
  	Get disk information</a>
  <a href="{{path('home')}}menu/details/10" class="list-group-item">
  	Details</a>
  <a href="{{path('home')}}menu/create" class="list-group-item">
  	Create</a>
  <a href="{{path('home')}}menu/edit/10" class="list-group-item">
  	Edit</a>
</div>

{% endblock %}