{% extends 'base.html.twig' %}

{% block title %}DiskScan{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<br><button type="button" class="btn btn-sm btn-success">Default</button>

<br>
<p>The Volume String is "{{ volume }}"
<br>The Volume ID is "{{ volumeName }}"
<br>The Volume Serial is "{{ volumeSerial }}"

<p>{{ dump() }}

{% endblock %}
