{% extends 'base.html.twig' %}

{% block title %}List Disks{% endblock %}

{% block body %}

<div class="starter-template">
	<h1 class="lead"> List a range of disks </h1>
	<br>There are {{ diskCount }} disks in the catalog. </br>
	<br> There are {{ count }} disks in this list starting with disk #{{ start }}. </br>
</div>

  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Volume</th>
        <th>Serial</th>
        <th>Copy</th>
        <th>Disk Created</th>
        <th>Description</th>
        <th>Location</th>
        <th>Record Created</th>
        <th>Record Modified</th>
        <th>Show Files</th>
        <th>Edit Record</th>
        <th>Delete Record</th>
      </tr>
    </thead>
    <tbody>
		{% for i in 0 .. count-1 %}
	      <tr>
			{% for celldata in disks[i] %}
		       <td> {{ celldata }} </td>
			{% endfor %}
			{% set diskEditID = disks[i]['diskID'] %}
			<td> <a class="btn btn-info" 
				href="{{path('home')}}diskfile/diskfiles/{{ diskEditID }}" class="list-group-item">
				  	Files</a> </td>
			<td> <a class="btn btn-warning" 
				href="{{path('home')}}diskfile/diskinfo/{{ diskEditID }}" class="list-group-item">
				  	Edit</a> </td>
			<td> <a class="btn btn-danger" 
				href="{{path('home')}}diskfile/diskdelete/{{ diskEditID }}" class="list-group-item">
				  	Delete</a> </td>
			
	      </tr>
		{% endfor %}
    </tbody>
  </table>

</div>


       
{% endblock %}
